.page {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
    color:rgb(41, 41, 41);
    position: relative;
    list-style-type: none;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.34);
}

.pageInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

.pageInner > * {
    margin: 15px;
}

.jap {
    font-size: 90px;
}

.changeBtn {
    background-color: rgba(255, 255, 255, 0.429);
    opacity: 0.3;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 375px;
    border: none;
    font-size: 20px;
    color: aliceblue;
    position: absolute;
}

.changeBtn:hover {
    opacity: 0.8;
}

.exit {
    position: absolute;
    font-size: 30px;
    padding: 10px;
    margin: 820px 0px 40px 0px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    background-color: #2b2d2e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.exit:hover {
    background-color: #404344;  
}


.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color:rgba(240, 248, 255, 0.521);
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    font-family: "Sawarabi Mincho", serif;
    font-weight: 900;
}

.btn {
    background-color: rgba(255, 255, 255, 0.329);
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: aliceblue;
}

.btn:hover {
    background-color: rgba(240, 248, 255, 0.438); 
    cursor: pointer;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
}

.feedback > * {
    margin: 0px;
}